body {
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  line-height: 2.428571;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

h1 {
  text-align: center;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0;
  max-height: 100vh;
  margin-top: 10px;
}

li {
  display: flex;
  justify-content: space-between;
  align-content: space-evenly;

}

li > span {
  margin-right: auto;
}

.itemDone {
  background-color: lawngreen;
  width: 100%;
  border: 1px solid white;
  text-align: center;
  vertical-align: middle;
}

.itemNotDone {
  background-color: red;
  width: 100%;
  border: 1px solid white;
  text-align: center;
  vertical-align: middle;
}

input[type="checkbox"] {
  width: 28px; /*Desired width*/
  height: 28px; /*Desired height*/
}

.btnrem {
  margin-left: 2px;
  margin-top: -2px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
